html {background-color: #004fa5
}

div {
    background-color: #00af57;
    width: 50%;
    border: black 5px solid;
    padding: 0 10px;
    margin: 10px auto;
}
body{
    font-family: Arial, serif;
}

img {
    border-radius: 50%;
    border: ridge gold 12px;
    display: block;
    margin: 10px auto;
}

h1 {
    color: #0065b8;
    font-size: 20px;
}

h2 {
    color: #b8091d;
    font-size: 20px;
}

#second {color: hotpink}

.highlighted { font-weight: bold}